/* HEADER */
.header {
    background-color: #2E948A;
    align-items: center;
}
.header .header-logo {
    padding: 10px;
    width: 30%;
}
.header .nav-link {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.header .menu-header ul {
    justify-content: end;
}

/* BANNER */
.banner {
    align-items: center;
}
.banner .jumbotron {
    background-color: #fff;
    padding: 10% 20%;
    margin-bottom: 0;
}
.banner .banner-imagem {
    width: 75%;
    padding: 5%;
}
.banner .jumbotron h2 {
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 60px;
}
.banner .jumbotron p {
    color: #555555;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 27px;
    margin: 0;
    padding: 15px 0;
}
.banner .jumbotron p a {
    background-color: #fff;
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 27px;
    padding: 5px 30px;
}

/* CURSOS */
.cursos {
    background-color: #F6F6F6;
    padding: 5% 2%;
}
.cursos .card-img-top {
    width: fit-content;
    height: 270px;
}
.cursos .card {
    text-align: center;
    align-items: center;
    border: none;
    background: none;
}
.cursos .card-block {
    padding-top: 40px;
}
.cursos .card-title {
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 25px;
}
.cursos h2 {
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    padding: 60px 0;
}
.cursos .card-text {
    padding: 10px 50px;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
}
.cursos .btn {
    color: #fff;
    width: 233px;
    height: 51px;
    background: #FF4081;
    border-color: #FF4081;
    border-radius: 62px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 12px;
}
.page-cursos {
    padding: 5%;
    font-family: 'Ubuntu', sans-serif;
}
.page-cursos h2 {
    color: #FF4081;
    font-weight: 700;
    font-size: 60px;
}
.page-cursos .sub-titulo {
    color: #555555;
    font-weight: 400;
    font-size: 20px;
}
.page-cursos .divisao-curso {
    width: 100%;
    height: 5px;
    background-color: #C4C4C4;
    margin: 60px 0;
}
.page-cursos .media {
    align-items: center;
}
.page-cursos .media .mr-3 {
    padding: 30px;
}
.page-cursos .media-body {
    color: #555555;
    font-weight: 300;
    font-size: 18px;
}
.page-cursos .media-body .mt-0 {
    color: #FF4081;
    font-weight: 700;
    font-size: 35px;
}
.page-cursos .media-body p {
    padding: 40px 0;
}
.page-cursos .media-body a {
    color: #FFF;
    background-color: #419488;
    font-weight: 300;
    font-size: 20px;
    padding: 15px 50px;
    border-radius: 30px;
    text-decoration: none;
}
.curso-destaque {
    padding: 5%;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
}
.curso-destaque .jumbotron {
    background-color: #fff;
    padding: 10%;
    margin-bottom: 0;
}
.curso-destaque .jumbotron h2 {
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 60px;
}
.curso-destaque .jumbotron p {
    padding: 5% 0;
}
.curso-destaque .banner-imagem {
    padding: 5% 10%;
}
.curso-destaque .curso-imagem {
    text-align: center;
}
.curso-video {
    padding: 2% 5%;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    background-color: #F6F6F6;
}
.curso-video .jumbotron {
    background-color: transparent;
    padding: 10%;
    margin-bottom: 0;
}
.curso-video .jumbotron h2 {
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 35px;
}
.curso-video .jumbotron p {
    padding: 5% 0;
    font-size: 20px;
    font-weight: 300;
}
.curso-video .curso-imagem {
    width: 462px;
    height: 261px;
    border: 2px solid #706f6f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.curso-divisao {
    width: 100%;
    height: 5px;
    background-color: #C4C4C4;
}

/* DEPOIMENTOS */
.depoimentos {
    padding: 5%;
}
.depoimentos .titulo {
    color: #009688;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 37px;
    padding: 40px;
}
.depoimentos .media {
    padding: 5%;
}
.depoimentos .media .media-body {
    padding: 0 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    font-size: 17px;
}
.depoimentos .media .media-body h5 {
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/* BLOG */
.blog {
    padding: 5%;
    background-color: #F6F6F6;
}
.blog .titulo {
    color: #009688;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 37px;
    padding: 5% 3%;
}
.blog .card {
    align-items: center;
    border: none;
    background: none;
}
.blog .card .thumb-blog {
    width: 319px;
    height: 193px;
    background: #C4C4C4;
}
.blog .card .card-block .card-title{
    color: #009688;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 0;
}
.blog .card .card-block .card-text{
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}
.blog .btn-blog-container {
    text-align: center;
    padding: 50px 0;
}
.blog .btn-blog {
    width: 289px;
    height: 51px;
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 25px;
    padding-top: 7px;
}
.blog-destaque {
    padding: 5%;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
}
.blog-destaque .jumbotron {
    background-color: #fff;
    padding: 10%;
    margin-bottom: 0;
}
.blog-destaque .jumbotron h2 {
    color: #009688;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 47px;
}
.blog-destaque .jumbotron p {
    padding: 5% 0;
    font-weight: 300;
    font-size: 20px;
}
.blog-destaque .banner-imagem {
    padding: 5% 10%;
}
.blog-destaque .curso-imagem {
    text-align: center;
}
.blog-post .blog-thumb {
    width: 518px;
    height: 259px;
    background-color: #C4C4C4;
}
.blog-post h3 {
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding: 20px 0;
    margin-bottom: 0;
}
.blog-post .col-md-6 {
    padding: 50px;
}
.blog-post a {
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 17px;
}

/* POST */
.post {
    padding: 100px 0;
}
.post h3 {
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
}
.post .post-data {
    color: #9D9D9D;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
}
.post .post-imagem {
    width: 1032px;
    height: 465px;
    background-color: #C4C4C4;
    margin: 0 auto;
    margin-bottom: 50px;
}
.post p {
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 50px;
    padding: 0 145px;
}
.post span {
    color: #419488;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 26px;
    padding: 0 145px;
}

/* CONTATO */
.contato {
    padding: 50px 100px;
}
.contato h3 {
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding: 20px 0;
    margin-bottom: 20px;
}
.contato form {
    width: 80%;
}
.contato .form-group input {
    border-color: #686868;
}
.contato .form-group textarea {
    width: 100%;
    border-color: #686868;
    color: #686868;
    padding: 10px;
}
.contato .btn-primary {
    background-color: #FF4081;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px 40px;
}

/* FOOTER */
.footer {
    background-color: #2E948A;
    align-items: center;
    padding: 3%;
}
.footer .links ul {
    list-style-type: none;
    margin-bottom: 0;
}
.footer .links a {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.footer .btn-footer a {
    color: #fff;
    width: 289px;
    height: 51px;
    border: 2px solid #fff;
    border-radius: 62px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    margin: 20px 0;
}
.footer .row {
    align-items: center;
}

/* MOBILE */
@media screen and (max-width: 768px) {
    /* HEADER */
    .header .header-logo {
        width: 50%;
    }
    .header .col-md-6 {
        text-align: center;
    }
    .header .menu-header ul {
        justify-content: center;
    }

    /* BANNER */
    .banner .banner-imagem {
        width: 100%;
    }
    .banner .jumbotron {
        padding: 10%;
        margin-bottom: 0;
        text-align: center;
    }
    .banner .jumbotron h2 {
        font-size: 50px;
    }
    .banner .jumbotron p {
        font-size: 22px;
        padding: 15px 0;
    }
    .banner .jumbotron p a {
        font-size: 22px;
    }
    .banner .col-md-6:last-child {
        display: none;
    }

    /* CURSOS */
    .page-cursos {
        text-align: center;
        margin-bottom: 50px;
    }
    .page-cursos .col-md-12 {
        padding: 0;
    }
    .page-cursos .media {
        align-items: center;
        flex-direction: column;
    }
    .page-cursos .media img {
        width: 100%;
    }
    .page-cursos h2 {
        font-size: 40px;
    }
    .page-cursos .sub-titulo {
        font-size: 18px;
    }
    .page-cursos .divisao-curso {
        height: 3px;
    }
    .curso-destaque {
        text-align: center;
    }
    .curso-destaque .curso-imagem img {
        width: 100%;
    }
    .curso-destaque .jumbotron {
        padding: 5%;
    }
    .curso-destaque .jumbotron h2 {
        font-size: 35px;
    }
    .curso-destaque .banner-imagem {
        padding: 0 10%;
    }
    .curso-video {
        text-align: center;
        justify-content: center;
        padding-top: 60px;
    }

    /* DEPOIMENTOS */
    .depoimentos {
        padding: 0;
    }
    .depoimentos .media {
        align-items: center;
        flex-direction: column;
    }
    .depoimentos .titulo {
        text-align: center;
    }
    .depoimentos .media .media-body {
        padding: 20px 0;
        text-align: center;
    }
    
    /* BLOG */
    .blog .titulo, .blog-destaque, .blog-post {
        text-align: center;
    }
    .blog-destaque .blog-imagem img {
        width: 100%;
    }
    .blog-destaque .jumbotron {
        padding: 5%;
    }
    .blog-destaque .jumbotron h2 {
        font-size: 35px;
    }
    .blog-destaque .banner-imagem {
        padding: 0 10%;
    }
    .blog-video {
        text-align: center;
        justify-content: center;
        padding-top: 60px;
    }
    .blog-post {
        margin-top: 50px;
    }
    .blog-post .blog-thumb {
        width: 100%;
        height: 259px;
    }
    .blog-post .col-md-6 {
        padding: 0 10% 10% 10%;
    }

    /* POST */
    .post {
        padding: 10% 0;
        text-align: center;
    }
    .post .post-imagem {
        width: 100%;
        height: 250px;
    }
    .post p, .post span {
        padding: 0 5%;
    }

    /* CONTATO */
    .contato {
        padding: 20px;
        text-align: center;
    }
    .contato img {
        width: 100%;
    }
    .contato form {
        width: 100%;
        margin-bottom: 50px;
    }

    /* FOOTER */
    .footer .nav-link img {
        width: 80%;
    }
    .footer .logo-footer {
        text-align: center;
    }
    .footer .links ul {
        padding: 0;
        text-align: center;
    }
    .footer .botoes {
        text-align: center;
    }
}