/* HEADER */
.header {
    background-color: #2E948A;
    align-items: center;
}
.header .header-logo {
    padding: 10px;
    width: 30%;
}
.header .nav-link {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.header .menu-header ul {
    justify-content: end;
}

/* BANNER */
.banner {
    align-items: center;
}
.banner .jumbotron {
    background-color: #fff;
    padding: 10% 20%;
    margin-bottom: 0;
}
.banner .banner-imagem {
    width: 75%;
    padding: 5%;
}
.banner .jumbotron h2 {
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 60px;
}
.banner .jumbotron p {
    color: #555555;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 27px;
    margin: 0;
    padding: 15px 0;
}
.banner .jumbotron p a {
    background-color: #fff;
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 27px;
    padding: 5px 30px;
}

/* CURSOS */
.cursos {
    background-color: #F6F6F6;
    padding: 5% 2%;
}
.cursos .card-img-top {
    width: fit-content;
    height: 270px;
}
.cursos .card {
    text-align: center;
    align-items: center;
    border: none;
    background: none;
}
.cursos .card-block {
    padding-top: 40px;
}
.cursos .card-title {
    color: #FF4081;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 25px;
}
.cursos .card-text {
    padding: 10px 50px;
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
}
.cursos .btn {
    color: #fff;
    width: 233px;
    height: 51px;
    background: #FF4081;
    border-color: #FF4081;
    border-radius: 62px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 12px;
}

/* DEPOIMENTOS */
.depoimentos {
    padding: 5%;
}
.depoimentos .titulo {
    color: #009688;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 37px;
    padding: 40px;
}
.depoimentos .media {
    padding: 5%;
}
.depoimentos .media .media-body {
    padding: 0 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    font-size: 17px;
}
.depoimentos .media .media-body h5 {
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/* BLOG */
.blog {
    padding: 5%;
    background-color: #F6F6F6;
}
.blog .titulo {
    color: #009688;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 37px;
    padding: 5% 3%;
}
.blog .card {
    align-items: center;
    border: none;
    background: none;
}
.blog .card .thumb-blog {
    width: 319px;
    height: 193px;
    background: #C4C4C4;
}
.blog .card .card-block .card-title{
    color: #009688;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 0;
}
.blog .card .card-block .card-text{
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}
.blog .btn-blog-container {
    text-align: center;
    padding: 50px 0;
}
.blog .btn-blog {
    width: 289px;
    height: 51px;
    color: #FF4081;
    border: 2px solid #FF4081;
    border-radius: 62px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 25px;
    padding-top: 7px;
}

/* FOOTER */
.footer {
    background-color: #2E948A;
    align-items: center;
    padding: 3%;
}
.footer .links ul {
    list-style-type: none;
    margin-bottom: 0;
}
.footer .links a {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.footer .btn-footer a {
    color: #fff;
    width: 289px;
    height: 51px;
    border: 2px solid #fff;
    border-radius: 62px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    margin: 20px 0;
}
.footer .row {
    align-items: center;
}

/* MOBILE */
@media screen and (max-width: 768px) {
    /* HEADER */
    .header .header-logo {
        width: 50%;
    }
    .header .col-md-6 {
        text-align: center;
    }
    .header .menu-header ul {
        justify-content: center;
    }

    /* BANNER */
    .banner .banner-imagem {
        width: 100%;
    }
    .banner .jumbotron {
        padding: 10%;
        margin-bottom: 0;
        text-align: center;
    }
    .banner .jumbotron h2 {
        font-size: 50px;
    }
    .banner .jumbotron p {
        font-size: 22px;
        padding: 15px 0;
    }
    .banner .jumbotron p a {
        font-size: 22px;
    }
    .banner .col-md-6:last-child {
        display: none;
    }

    /* DEPOIMENTOS */
    .depoimentos {
        padding: 0;
    }
    .depoimentos .media {
        align-items: center;
        flex-direction: column;
    }
    .depoimentos .titulo {
        text-align: center;
    }
    .depoimentos .media .media-body {
        padding: 20px 0;
        text-align: center;
    }
    
    /* BLOG */
    .blog .titulo {
        text-align: center;
    }

    /* FOOTER */
    .footer .nav-link img {
        width: 80%;
    }
    .footer .logo-footer {
        text-align: center;
    }
    .footer .links ul {
        padding: 0;
        text-align: center;
    }
    .footer .botoes {
        text-align: center;
    }
}